webService/src/entities/webxxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GoodreadsResponse" type="GoodreadsResponseType"/>
  <xs:complexType name="small_image_urlType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="nophoto" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="idType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="text_reviews_countType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="image_urlType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="nophoto" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="4841825"/>
            <xs:enumeration value="1831"/>
            <xs:enumeration value="1803"/>
            <xs:enumeration value="5526980"/>
            <xs:enumeration value="2876070"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Marion Zimmer Bradley"/>
            <xs:enumeration value="Jonathan Swift"/>
            <xs:enumeration value="Kathleen Williams"/>
            <xs:enumeration value="Cynthia Parker White"/>
            <xs:enumeration value="Mabel Cleaver"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="role" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Editor / Contributor"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="image_urlType" name="image_url" minOccurs="0"/>
      <xs:element type="small_image_urlType" name="small_image_url" minOccurs="0"/>
      <xs:element name="link">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
                            
http://www.goodreads.com/author/show/4841825.Marion_Zimmer_Bradley

                        "/>
            <xs:enumeration value="
                            
http://www.goodreads.com/author/show/1831.Jonathan_Swift

                        "/>
            <xs:enumeration value="
                            
http://www.goodreads.com/author/show/1803.Kathleen_Williams

                        "/>
            <xs:enumeration value="
                            
http://www.goodreads.com/author/show/5526980.Cynthia_Parker_White

                        "/>
            <xs:enumeration value="
                            
http://www.goodreads.com/author/show/2876070.Mabel_Cleaver

                        "/>
            <xs:enumeration value="
            
http://www.goodreads.com/author/show/1803.Kathleen_Williams

        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="average_rating" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3.98"/>
            <xs:enumeration value="3.65"/>
            <xs:enumeration value="3.90"/>
            <xs:enumeration value="5.00"/>
            <xs:enumeration value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ratings_count" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="346497"/>
            <xs:enumeration value="215877"/>
            <xs:enumeration value="889"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="text_reviews_count" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="9660"/>
            <xs:enumeration value="4478"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="booksType" name="books" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodreadsResponseType">
    <xs:sequence>
      <xs:element type="RequestType" name="Request"/>
      <xs:element type="authorType" name="author"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element type="xs:string" name="authentication"/>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="xs:string" name="method"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorsType">
    <xs:sequence>
      <xs:element type="authorType" name="author"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element type="idType" name="id"/>
      <xs:element type="xs:string" name="isbn"/>
      <xs:element type="xs:string" name="isbn13"/>
      <xs:element type="text_reviews_countType" name="text_reviews_count"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element name="image_url">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
                    http://d.gr-assets.com/books/1373679209m/740509.jpg
                "/>
            <xs:enumeration value="http://d.gr-assets.com/books/1375114323m/11218.jpg"/>
            <xs:enumeration value="
                    http://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png
                "/>
            <xs:enumeration value="
                    http://d.gr-assets.com/books/1439253733m/25986183.jpg
                "/>
            <xs:enumeration value="
                    http://d.gr-assets.com/books/1410784050m/22286056.jpg
                "/>
            <xs:enumeration value="http://d.gr-assets.com/books/1434944961m/2632.jpg"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="small_image_url">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
                    http://d.gr-assets.com/books/1373679209s/740509.jpg
                "/>
            <xs:enumeration value="http://d.gr-assets.com/books/1375114323s/11218.jpg"/>
            <xs:enumeration value="
                    http://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png
                "/>
            <xs:enumeration value="
                    http://d.gr-assets.com/books/1439253733s/25986183.jpg
                "/>
            <xs:enumeration value="
                    http://d.gr-assets.com/books/1410784050s/22286056.jpg
                "/>
            <xs:enumeration value="http://d.gr-assets.com/books/1434944961s/2632.jpg"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="large_image_url"/>
      <xs:element type="xs:string" name="link"/>
      <xs:element type="xs:string" name="num_pages"/>
      <xs:element name="format">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mass Market Paperback"/>
            <xs:enumeration value="Paperback"/>
            <xs:enumeration value="Hardcover"/>
            <xs:enumeration value="Unknown Binding"/>
            <xs:enumeration value="ebook"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="edition_information">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="
                    New Edition with revised contents based on J.M. Dent edition of 1909
                "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="publisher"/>
      <xs:element name="publication_day">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="4"/>
            <xs:enumeration value=""/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="31"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="publication_year"/>
      <xs:element name="publication_month">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value=""/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="average_rating">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="3.90"/>
            <xs:enumeration value="4.00"/>
            <xs:enumeration value="5.00"/>
            <xs:enumeration value="3.00"/>
            <xs:enumeration value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ratings_count">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="904"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
                    From the back cover:The lore of the planet of the Bloody Sun, Darkover, with its human and semi-human peoples, its science of emntal powers, its loves and hates, its feuds and favors -- all have grown into one of the greater classics of the imagination, comparable only to the Middle Earth of Tolkien.For so deep and complex has been the creation of this worlds that readers have sought to fill in the unknown spots of its saga. They, forming the Friends of Darkover, have joined with Marion Zimmer Bradley to create this anthology of new stories of Darkover, written by its most talented followers. Here are stories that span the whole of Darkover history -- from the days after the original landfall, through the Ages of Chaos, the Pact of the Comyn, and the coming of the Terrans. Included are three original stories by Marion Zimmer Bradley and her editorial commentaries on each story.
                "/>
            <xs:enumeration value=""/>
            <xs:enumeration value="
                    This series gathers together a body of critical sources on major figures in literature. Each volume presents contemporary responses to a writer's work, enabling students and researchers to read for themselves, for example, comments on early performances of Shakespeare's plays, or reactions to the first publication of Jane Austen's novels. The selected sources range from important essays in the history of criticism to journalism and contemporary opinion, and documentary material such as letters and diaries. Significant pieces of criticism from later periods are also included, in order to demonstrate the fluctuations in an author's reputation.
                "/>
            <xs:enumeration value="
                    Lessons in Living is a faith based anthology with a central theme of how God uses the seemingly ordinary things and events of life to teach extraordinary lessons.The anthology had its beginnings in what we affectionately called the Sisterhood Project, an attempt to give women who desired to write a voice and a safe haven in which to thrive, to be nurtured and mentored as writers. The group is almost evenly divided between first time and previously published writers. Lessons in Living became the vehicle for this group of women to get their &quot;feet wet&quot; as authors without the challenge of the entire publication process being a barrier. The final group of nine, whittled down from the twelve who initially answered the call via social media, are from several states along with our nation's Capitol. Although we come from different backgrounds we as women share similar life experiences that have molded and made us into the women that we are are. Some of those experiences threatened to break us, but our faith kept us and we learned lessons worthy of sharing with others and affirming more deeply our connection as women and that indeed we are our sister's keeper.
                "/>
            <xs:enumeration value="
                    Extracts from Swift's works, accompanied by commentary and analysis.
                "/>
            <xs:enumeration value="
                    Maj. Roger G. B. Broome, USMCR, died from wounds received on Saipan before his daughter had a chance to know him. Now a well-known naval historian and author of award-winning books, that daughter, Kathleen Broome Williams, has turned the research skills she honed studying naval technology to find her lost father. For this biography, she makes full use of an extensive collection of her father s colorful and articulate letters along with the testimony of surviving Leathernecks who served with Major Broome, backed up by official records. The book reconstructs her father s life as a University of Virginia Law School graduate who obtained a commission in the Marine Corps despite his colorblindness and eventually won the combat command he lobbied for. In April 1944 Broome took command of the Regimental Weapons Company, 24th Marines, 4th Marine Division. But his pursuit of glory came to an abrupt end just twenty-four days into the Saipan invasion when he sustained the wounds that condemned him to a lingering death. The author not only found a hero who was awarded the Navy Cross for his courageous actions, but also uncovered a profoundly human individual with strengths as well as obvious faults. In unfolding Broome s story, she takes significant world events from seventy years ago and places them in an intimate context, to show how they affected Americans on and off the battlefield. Her efforts provide an inside look at the U.S. Marine Corps during the pivotal years of World War II, including recruit training, amphibious assaults, high casualties, and, not least, the personal feuds and rivalries that shaped it.                 "/>
            <xs:enumeration value="
                    That is a lesson that Kathleen Williams learned on the night of December 20, 2006, when she received a phone call from her brother that changed her life forever. Just five days before Christmas, Kathleen was called to the hospital where she walked into a parent's worst nightmare. Her nineteen-year-old son had been killed in a car accident, along with her nephew. Life suddenly made no sense to the woman who seemed to finally have all she ever wanted. In her book, A Violent Dialogue with God, Kathleen discusses what life was like in the wake of a devastating loss, and how she finally came to terms with grief so intense that it nearly stole her faith. When she had finally had enough, the heartbroken mother lashed out at God, demanding some answers. In the midst of her violent outburst, God spoke back, and Kathleen got quiet and listened. It was then she began to see her loss in a different light, and it is her hopes to share that new outlook with anyone else searching for answers to life's hardest questions. This is a book for anyone who is dealing with loss.
                "/>
            <xs:enumeration value="
                    Mabel Williams, with her late husband Robert F Williams (author of Negroes With Guns), met with Malcolm X, Ho Chi Minh, Che Guevara and Mao Tse Tung to help internationalize support for the Black Liberation Movement. Kathleen Cleaver was Communications Secretary and the first woman Central Committee member of the Black Panther Party, also lived in exile, gathering worldwide support for the BBP. These two inspiring women of the 60s Black liberation struggle share their personal experiences - resisting the KKK and police repression, forced exile and their international experiences in Third World nations - And how their history relates to the struggle today. Moderated by Rachel Herzing of Critical Resistance, and introduced by Angela Davis
                "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="authorsType" name="authors"/>
      <xs:element type="xs:string" name="published"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="booksType">
    <xs:sequence>
      <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="start"/>
    <xs:attribute type="xs:string" name="end"/>
    <xs:attribute type="xs:string" name="total"/>
  </xs:complexType>
</xs:schema>